body {
  background-color: blanchedalmond;
}

#box1 {
  display: block;
  width: 650px;
  height: 600px;
  background-color: white;
  margin: 80px 250px 30px;
  border-radius: 15px;
}

#img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#box2 {
  padding: 30px 80px;
}

#box3 {
  display: block;
  width: 200px;
  height: 100px;
  background-color: white;
  margin: 10px 250px;
  border-radius: 15px;
}

#box4 {
  display: block;
  width: 200px;
  height: 100px;
  background-color: white;
  margin: 10px 250px;
  border-radius: 15px;
}

#auto-login::before {
  content: "";
}

#pupple{
  width: 500px;
  height: 60px;
  background-color: rgb(129, 81, 174);
  border-radius: 5px;
  border: 0 solid;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#auto-login {
  display: inline-block;
}

input {
  width: 500px;
  height: 50px;
  background-color: rgb(219, 219, 219);
  border: 0 solid;
  border-radius: 3px;
  margin-top: 0;
}

.found {
  margin: 30px;
  width: 450px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.found .found1 {
  color: gray;
  font-size: 20px;
}

.smaillbox .star {
  width:100px;
  display: inline-block;
  position: relative;
  color: rgb(54, 54, 54);
}


.smaillbox .star::after {
  position: absolute;
  top: 20px;
  left: 70%;
  margin-left: 8px;
  content: "*";
  /* display: inline; */
  color: blueviolet;
  font-size: 20px;
}




















/* 모바일의 사이즈 이상으로 넘어가면 */
@media screen and (min-width : 768px) {

}

/* 테블릿 사이즈 이상으로 넘어가면 */
@media screen and (min-width : 992px) {

}

/* 데스크 탑 사이즈 이상으로 넘어가면 */
@media screen and (min-width : 1024px) {

}