/* 모바일의 사이즈 이상으로 넘어가면 */
@media screen and (min-width : 768px) {
    #wrap>#header>.gnb {
        height: 60px;
    }

    .gnb .gnb-button {
        width: 60px;
        height: 60px;
    }

    .gnb .gnb-button span {
        width: 20px;
        height: 4px;
        border-radius: 3px;
        left: 20px;
        top: 20px;
    }

    .gnb .gnb-button span:nth-child(3) {
        bottom: 20px;
    }

    .gnb .user-icon {
        width: 60px;
        height: 60px;
    }

    .gnb .user-icon span:nth-child(1) {
        border: 9px solid white;
        top: 10px;
    }

    .gnb .user-icon span:nth-child(2) {
        top: 26px;
        border: 10px solid white;
        border-radius: 50px 50px 0 0;
    }

    #header>.notification {
        height: 45px;
        padding: 0 8px;
        font-size: 12px;
    }

    #header>.notification>i {
        border: 8px solid blue;
        margin-right: 10px;
    }

    #wrap>#content {
        min-height: calc(100% - 120px);
    }

    #content>.title {
        height: 65px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        font-size: 16px;
        padding: 0 8px;
    }

    #content>.nav-wrap>.nav {
        height: 45px;
        padding: 0 8px;
    }

    .nav-wrap>.nav li {
        padding: 6px 8px;
        font-size: 14px;
    }

    .nav-wrap>button {
        width: 60px;
        height: 40px;
        border-radius: 6px;
        top: 2.5px;
        right: 8px;
    }

    .nav-wrap>button::after,
    .nav-wrap>button::before {
        width: 10px;
        border: 2px solid white;
    }

    .nav-wrap>button::after {
        left: calc(50% - 5px);
        border-radius: 2px;
    }

    .nav-wrap>button::before {
        left: calc(50% + 5px);
        border-radius: 2px;
    }

    #content>.card-wrap {
        padding: 12px 6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    #content>.card-wrap>.card {
        width: 348px;
        height: 260px;
        margin: 10px 10px;
    }

    .card-wrap>.card>div {
        height: 70px;
    }

    .card>div>h3 {
        font-size: 12px;
        width: 348px;
        padding: 0 8px;
        border-bottom: 1px solid rgb(191, 191, 191);
    }

    .card>div>h3::after {
        padding: 2px 5px;
        left: 88px;
    }

    .card>div>div {
        padding: 0 8px;
        font-size: 12px;
    }

    .paging {
        width: 356px;
        margin: auto;
        padding: 20px 0;
    }

    .paging>ul {
        height: 40px;
    }

    .paging>ul>li {
        width: 30px;
        height: 30px;
        border: 1px solid rgb(168, 168, 168);
        border-radius: 6px;
    }

    .search {
        height: 40px;
    }

    .search>select {
        width: 100px;
        height: 40px;
    }

    .search>input {
        width: 100%;
        height: 28px;
        padding: 3px 6px;
    }

    .search>div {
        width: 40px;
        height: 40px;
    }

    .search>div>img {
        width: 15px;
    }

    .state {
        width: 100%;
        padding: 10px 8px;
        box-sizing: border-box;
    }

    .state>span {
        width: 100px;
        height: 30px;
        border-radius: 16px;
        font-size: 12px;
    }

    .state>.states-content {
        width: calc(100% - 12px);
        box-sizing: border-box;
        margin: 10px auto;
        padding: 4px 6px;
    }

    .state>.states-content>div {
        font-size: 16px;
    }


    #wrap>#footer {
        padding-bottom: 20px;
    }

    #footer>div:nth-child(1) {
        padding: 12px 24px;
    }

    #footer>button {
        width: calc(100% - 12px);
        margin-top: 20px;
        font-size: 14px;
        height: 40px;
        border-radius: 4px;
    }

    #footer>div>span {
        font-size: 14px;
    }
}