<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
</head>

<body>
  <a href="/list">리스트 페이지로 이동</a>
  <!-- .은 상대경로,  지금 서버에서 HTML을 완성되서 주는데 /는 로컬호스트 3000번에 리스트라는 get 요청이 들어옴 응답을 해줌 -->
  <!-- 요청 url로 던지는 거임 -->

</body>

</html>